{{>header}}
<style>
    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
    }
</style>

<div class="error-container mt-5 pt-5">
    <h1 class="error-title">{{title}}</h1>
    <p class="error-name">{{name}}</p>
</div>

{{>footer}}